$tipografia-principal: 'Cormorant Garamond', serif;
$tipografia-secundaria: 'Playfair Display', serif;
$tipografia-terciaria: 'Rowdies', cursive;
$color_1: #f0f8ff;
$color_2: #f7d547;
$background-color_1: black;